@font-face {
    font-family: skia;
    src: url('../font/skia.woff');
}

@font-face {
    font-family: PingFang;
    src: url('../font/PingFang.woff');
}

@font-face {
    font-family: skia2;
    src: url('../font/skia.woff2');
}

@font-face {
    font-family: PingFang2;
    src: url('../font/PingFang.woff2');
}

body {
    background: black;
    color: white;
    transition: all .6s cubic-bezier(.33, .63, .65, .99);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 1000px) {
    header {
        height: 48px;
    }

    .nav_items {
        font-size: 22px;
        padding-top: 8px;
        height: 40px;
    }
}

@media screen and (max-width: 1000px) {
    header {
        height: 64px;
    }

    .nav_items {
        font-size: 32px;
        padding-top: 8px;
        height: 56px;
    }
}

header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    color: #a06577;
    background: rgba(26, 28, 30, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    transition: all .6s cubic-bezier(.33, .63, .65, .99);
    z-index: 100;
}

header:hover {
    background: black;
}

.nav_items:hover {
    background: #a06577;
    color: black;
}

.nav_items {
    display: block;
    cursor: pointer;
    transition: all .6s cubic-bezier(.33, .63, .65, .99);
}

.replace {
    height: 48px;
}

.headline {
    font-size: 48px;
    text-align: center;
    margin: 32px auto;
    font-weight: 700;
    height: 72px;
    color: #cea3b4;
}

.head_img_container {
    text-align: center;
    margin-bottom: 280px;
}

.head_img_container > img {
    width: 60vw;
}

.content_container {
    text-align: center;
    margin-top: 180px;
    position: relative;
}

.content_box {
    position: relative;
    margin: 0 auto;
    display: grid;
    /**border: 0.15vw solid #ae7473;**/
    width: 50.36vw;
    height: 36.9vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.content_box > a {
    text-decoration: none;
    color: white;
}

.content {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 25vw;
    height: 18vw;
}

.content > img {
    width: 100%;
}

.content:hover .content_description {
    opacity: 1;
}

.content_description {
    opacity: 0;
    cursor: pointer;
    text-align: left;
    background: rgba(174, 116, 115, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity .6s cubic-bezier(.33, .63, .65, .99);
}

@media screen and (min-width: 1000px) {
    .content {
        border: 0.15vw solid #ae7473;
    }

    .content_description > h3 {
        font-size: 38px;
        line-height: 65px;
    }

    .content_description > h4 {
        font-size: 30px;
    }

    .content_description > h5 {
        font-size: 20px;
    }

    .content_border1 {
        left: 0;
        top: 0;
        border-top: 0.3vw solid #ae7473 !important;
        border-left: 0.3vw solid #ae7473 !important;
    }

    .content_border2 {
        left: 25.3vw;
        top: 0;
        border-top: 0.3vw solid #ae7473 !important;
        border-right: 0.3vw solid #ae7473 !important;
        margin-left: 0.15vw;
    }

    .content_border3 {
        left: 0;
        top: 18.4vw;
        border-bottom: 0.3vw solid #ae7473 !important;
        border-left: 0.3vw solid #ae7473 !important;
    }

    .content_border4 {
        left: 25.3vw;
        top: 18.4vw;
        border-bottom: 0.3vw solid #ae7473 !important;
        border-right: 0.3vw solid #ae7473 !important;
        margin-left: 0.15vw;
    }
}

@media screen and (max-width: 1000px) {
    .content {
        border: 0.3vw solid #ae7473;
    }

    .content_description > h3 {
        font-size: 36px;
        line-height: 42px;
    }

    .content_description > h4 {
        font-size: 30px;
        margin-top: 6px !important;
    }

    .content_description > h5 {
        font-size: 20px;
        margin-top: 6px !important;
    }

    .content_border1 {
        left: 0;
        top: 0;
        border-top: 0.6vw solid #ae7473 !important;
        border-left: 0.6vw solid #ae7473 !important;
    }

    .content_border2 {
        left: 25.5vw;
        top: 0;
        border-top: 0.6vw solid #ae7473 !important;
        border-right: 0.6vw solid #ae7473 !important;
        margin-left: 0.3vw;
    }

    .content_border3 {
        left: 0;
        top: 18.8vw;
        border-bottom: 0.6vw solid #ae7473 !important;
        border-left: 0.6vw solid #ae7473 !important;
    }

    .content_border4 {
        left: 25.5vw;
        top: 18.8vw;
        border-bottom: 0.6vw solid #ae7473 !important;
        border-right: 0.6vw solid #ae7473 !important;
        margin-left: 0.3vw;
    }
}

.content_description > h3 {
    font-family: skia2, skia, Arial, sans-serif;
    font-weight: 100;
    margin: 24px 18px 0 18px;
}

.content_description > h4 {
    font-family: skia2, skia, Arial, sans-serif;
    font-weight: 100;
    margin: 24px 18px 0 18px;
}

.content_description > h5 {
    font-family: skia2, skia, Arial, sans-serif;
    font-weight: 100;
    margin: 24px 18px 0 18px;
}

footer {
    height: 256px;
}

.page_title {
    font-family: skia2, skia, Arial, sans-serif;
    font-size: 38px;
    margin-top: 64px;
    color: #F9E1E9;
    font-weight: 100;
    text-align: center;
}

.page_title > p {
    margin: 12px auto;
}

.page_big_img_container {
    text-align: center;
}

.page_big_img_container > img {
    width: 60vw;
}

.page_subtitle {
    margin-top: 180px;
    font-family: skia2, skia, Arial, sans-serif;
    color: #772D41;
    line-height: 46px;
    text-align: center;
    font-size: 38px;
}

.color_block_container {
    text-align: center;
    height: 10vw;
}

.color_block_grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 50vw;
    margin: 0 auto;
}

.color_block {
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    transition: all .2s cubic-bezier(.33, .63, .65, .99);
}

.color_block:hover {
    z-index: 50;
    transform: scale(1.15, 1.15);
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.2);
}

.page_details {
    margin-top: 48px;
}

#page_scroll {
    position: relative;
}

#page_scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #1A1C1E;
}

#page_scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #1A1C1E;
}

#page_scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(113, 80, 89, .3);
    background-color: #715059;
}

.page_details > p {
    position: relative;
    min-height: 720px;
    width: 100%;
    font-family: PingFang2, PingFang, Arial, sans-serif;
    color: #B5939B;
    line-height: 48pt;
    font-size: 36pt;
    word-wrap: break-word;
    margin-top: 0;
}

.page_details {
    height: 505px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 12vw;
}

.page_story_container {
    position: relative;
}

.more_ul {
    position: relative;
    list-style-type: none;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.more_ul > li {
    position: absolute;
    display: inline-block;
    width: 40vw;
    margin: 0;
}

.more_ul > li > img {
    width: 100%;
}

.more_ul_container {
    width: 80vw;
    height: 40vw;
    margin: 144px 10vw 0 10vw;
    position: relative;
}

.more_container_active {
    z-index: 50;
    transform: scale(1.15, 1.15);
    box-shadow: 0 0 125px rgba(0, 0, 0, 0.2);
}

.more_container {
    transform: scale(0.8, 0.8);
}

.list_root {
    margin-top: 81px;
}

@media screen and (min-width: 1000px) {
    .list_container {
        width: 50vw;
    }
}

@media screen and (max-width: 1000px) {
    .list_container {
        width: 60vw;
    }
}

.list_container {
    border: 3px #ad7372 solid;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0 auto 100px auto;
    padding: 60px 30px;
    height: auto;
}

.list_left > img {
    width: 100%;
}

.list_left {
    margin-right: 50px;
}

.list_right > h3 {
    font-family: skia2, skia, Arial, sans-serif;
    font-weight: 400;
    font-size: 33px;
    color: #F2D6DC;
    margin: 0 auto 25px auto;
}

.list_right > h4 {
    font-family: skia2, skia, Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    color: #CCB8BE;
}

.list_right > p {
    margin-top: 50px;
    font-family: skia2, skia, Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    color: #CCB8BE;
}